*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background-color: white;
}
.nav{
    display: flex;
    padding: 10px;
    background-color: rgb(168, 224, 226);
    color:white;
}
.navlogo{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:5px;
}
.nav-item li{
    float: left;
    list-style-type: none;
    padding-left: 50px;
    font-size: 20px;
    padding-top: 20px;
    color: white;
    
}
.nav-item a{
    text-decoration: none;
    color:black;
    color: white;
}
.botton button{
   padding: 10px 30px;
   font-size: 20px;
   position: absolute;
   right: 100px;
   border: none;
   border-radius: 10px;
   margin-top: 5px;
   cursor: pointer;
    
    
}
#css-table{
    position: absolute;
    left: 43%;
    top: 100px;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    background-color:  rgb(205, 225, 230);
    display: inline;
    padding: 10px;

}
table td {
    border-bottom: none;
    border-collapse: collapse;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    
    
    
    
}
table{
    border: 0px solid black;
    border-collapse: collapse;
    border-top: nne;
    width: 800px;
    position: absolute;
    left: 500px;
    top: 200px;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    
    

}
table tr{
    box-shadow: 1px 5px 5px rgb(185, 184, 184);
}
table th{
    border-bottom: 1px solid black;
    padding: 20px 10px 20px;
    padding-left: 15px;
    text-transform: uppercase;
    text-align: center;
    
    font-weight: none;
    background-color: rgb(168, 224, 226);
    color: white;
    cursor: pointer;
    
}
/*table tr:nth-child(even){
    background-color: #d4d2d2;
}
/*table th:nth-child(even){
    background-color: #e0e0e0;
}*/

table tr:hover{
    background-color: rgb(156, 156, 156);
}
.form{
    background-color: rgb(220, 241, 241);
    position: absolute;
    left: 80px;
    top: 300px;
    width:250px;
    border: 2px solid black;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.form .name{
    padding: 10px;
    font-size: 20px;
    

}
.form .country{
    padding: 10px;
    font-size: 20px;

}
.form .run{
    padding: 10px;
    font-size: 20px;
}
.form .number{
    padding: 10px;
    font-size: 20px;

}
.form button{
    padding: 5px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 65px;
    
    

}
.table td button{
    padding: 8px;
    width: 70px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 9px;


}
.table td button:hover{
    background-color: gray;
    color: white;
}
footer{
    padding: 40px;
    background-color: rgb(168, 224, 226);
    color: white;
    position: relative;
    top: 800px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 25px;


}
.aside{
    position: absolute;
    right: 50px;
    top: 100px;
    height: 750px;
    width: 400px;
    background-color: aliceblue;
    border: 1px solid ;
    border-radius: 10px;
    

}

.nav{
    color: white;
}
.aside h1{
    text-align: center;
    padding-bottom: 20px;
}
.nav-para{
    padding: 20px;
    font-size: larger;
    text-align: justify;

}
.table-para{
    padding: 20px;
    font-size: larger;
    text-align: justify;
}
.form-para{
    padding: 20px;
    font-size: larger;
    text-align: justify;

}