*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1600px;
    margin: auto;
}
#nav-section{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    
    margin: auto;
}
.nav-items ul{
    display: flex;
    gap: 50px;
    
    
}
.nav-items li{
    list-style-type: none;
    font-variant: small-caps;
    font-size: 20px;
    padding-bottom: 5px;
    position: relative;
    
}
.nav-items li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: .2s all ease-out;
}

.nav-items li:hover::after {
    transform: scale(1);
}
.dropdown{
    display: relative;
    display: inline-block;

}
.dropdown-content-items{
    position: absolute;
    display: flex;
    gap: 100px;
    font-size: 15px;
    font-variant: small-caps;
    padding-top: 100px;
    
    
}
.dropdown-content-shop-layout a{
    text-decoration: none;
    line-height: 1.5;


}
.dropdown-content-shop-layout a:hover{
    text-decoration: underline;
    color: orange;
}
.dropdown-content{
    display: none;
    position : absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: gray;
    width: 500px;
    height: 50vh;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.nav-icons{
    
    font-size: 25px;
}
.nav-icons i{
    padding-left: 20px;
    cursor: pointer;
}
/* nav section end*/
.hero-section img{
    background-image: url(./images/handmade-hero-img.png);
    width: 100%;
    height: 100vh;
}

