*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
.body{
    text-align: left;
    font-size: px;
    margin:px;
    padding:px;
    background-color:skyblue;
}
.body p{
    padding: 10px;
    font-size: 20px;
}
.body input label{
    margin:px;

}
.checkbox{
    padding-bottom: px;
}
.color{
    padding-top:20px;
}
.brithday{
    padding-top:20px;
}
.email{
    padding-top:20px;
}
.file{
    padding-top:20px;
}
.number{
    padding-top:20px;
}
.scearch{
    padding-top:20px;
}
.phone{
    padding-top:20px;
}
.time{
    padding-top:20px;
}
.url{
    padding-top:20px;

}
.week{
    padding-top:20px;
}